html{
    font-family: 'Roboto', sans-serif; 
}

:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

*{
    margin: 0;
    padding: 0;
    /*Torna border-box padrão para todos elementos,
    essa propriedade seta a margem como limite de espaço*/
    box-sizing: border-box;
}

/*BOX MODEL
Modelo de caixa
Toda caixa tem 
largura, altura, espaçamento, preenchimentos
bordas, cor, fundo, maneira que é vista pelo html
alinhamentos
*/
body{
    background-color: #f0fff5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

